In [1]:
days = ['Monday', 'Tuesday', 'Wednesday']
fruits = ['banana', 'Tuesday', 'peach']
drinks = ['coffee', 'tea', 'beer']
desserts = ['tiramisu', 'ice cream', 'pie', 'pudding']
for day, fruit,drink, dessert in zip(days, fruits, drinks, desserts):
    print(day, ':drink"', drink, "-eat", fruit, "- enjoy", dessert)

Monday :drink" coffee -eat banana - enjoy tiramisu
Tuesday :drink" tea -eat Tuesday - enjoy ice cream
Wednesday :drink" beer -eat peach - enjoy pie

In [2]:
english = 'Monday', 'Tuesday', 'Wednesday'
french = 'Lundi', 'Mardi', 'Mercredi'
list(zip(english, french))

[('Monday', 'Lundi'), ('Tuesday', 'Mardi'), ('Wednesday', 'Mercredi')]

In [3]:
dict(zip(english, french))

{'Monday': 'Lundi', 'Tuesday': 'Mardi', 'Wednesday': 'Mercredi'}

In [4]:
for x in range(0,3):
    print(x)

0
1
2

In [5]:
list(range(0,3))

[0, 1, 2]

In [6]:
for x in range(2, -1, -1):
    print(x)

2
1
0

In [7]:
list(range(0, 11, 2))

[0, 2, 4, 6, 8, 10]

In [8]:
number_list = [number for number in range(1, 6)]
number_list

[1, 2, 3, 4, 5]

In [11]:
number_list = [number-1 for number in range(1, 6)]
number_list

[0, 1, 2, 3, 4]

In [12]:
a_list = [number for number in range(1, 6) if number%2 == 1]
a_list

[1, 3, 5]

In [13]:
rows = range(1, 4)
cols = range(1, 3)
cells = [(row, col) for row in rows for col in cols]
cells

[(1, 1), (1, 2), (2, 1), (2, 2), (3, 1), (3, 2)]

In [14]:
word = 'letters'
letter_counts = {letter:word.count(letter) for letter in word}
letter_counts

{'l': 1, 'e': 2, 't': 2, 'r': 1, 's': 1}

In [15]:
a_set = {number for number in range(1,6) if number % 3 == 1}
a_set

{1, 4}